################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/stripe-subscription/bin/Debug/net5.0
/stripe-subscription/obj
