@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Stripe Subscriptions sample app</h1>
    
    <p> To run the app, configure your stripe secret key and default customer id in appsettings.json file. <br /><br />
        "SecretKey": "sk_test_XXXXXXXXXX",<br />
        "DefaultCustomerId": "cus_XXXXXXXXX"
    </p>

</div>
